@import "open-color";

$brand-white: $oc-gray-0;
$brand-black: $oc-gray-9;

* {
  color: $brand-black;
}

#site-header {
  $background-colour: $brand-black;

  nav {
    background-color: $background-colour;

    a {
      color: $brand-white;

      &:hover {
        text-decoration: underline;
      }
    }

    #site-brand {
      text-decoration: none;
      font-size: 28px;
    }
  }

  .shape-container {
    $shape-height: 48px;

    position: relative;
    height: $shape-height;

    .custom-shape-divider-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
    }

    .custom-shape-divider-top svg {
      position: relative;
      display: block;
      width: calc(150% + 1.3px);
      min-width: 1000px;
      height: $shape-height;
    }

    .custom-shape-divider-top .shape-fill {
      fill: $background-colour;
    }
  }
}

#site-footer {
  background-color: $brand-black;

  p, a {
    color: $brand-white;
  }
}
